* {margin:0; padding:0;}
ul, ol, li {list-style:none;}
a {text-decoration:none; color: black;}

body { width: 100%; font-family: "Noto Sans KR", sans-serif; background-color: #ffffff;}

p {font-family: "Noto Sans KR", sans-serif; font-size: 40px; font-weight: 400; }
h3 {font-family: "Noto Sans KR", serif; font-size: 32px; font-weight: 500;}


.nav {
    width: 115px;
    height: 575px;
    position: fixed;
    right: 60px;
    bottom: 60px;
}


.btn {
    width: 115px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 가로정렬 */
    align-items: center; /* 세로정렬 */
}

.logo {
    position: absolute;
    top: 30px;
    left: 245px;
}

.emailbox, .callbox {
    width: 625px;
    height: 300px;
    background-color: #fcfcfc;
    border-radius: 20px;
    position: absolute;
    top: 450px;
    box-shadow: 3px 3px 10px 5px #d4d4d4;
    opacity: 0; /* 초기 상태를 투명하게 설정 */
    transform: translateY(50px); /* 초기 상태를 아래로 이동 */
    transition: all 0.5s ease-in-out; /* 애니메이션 설정 */
}

.emailbox {
    left: 250px;
}

.callbox {
    left: 1053px;
}

.emailbox:hover, .callbox:hover {
    background: #ff9aa0;
    color: white;
}

.emailbox img, .callbox img {
    position: absolute;
    top: 60px;
    left: 100px;
}

.emailbox p, .callbox p {
    position: absolute;
    top: 120px;
}

.emailbox p {
    right: 100px;
}

.callbox p {
    right: 180px;
}

/* 스크롤 시 적용될 클래스 */
.fade-in {
    opacity: 1; /* 완전 불투명 */
    transform: translateY(0); /* 원래 위치 */
}
